{% load static %}
{% block about %}
<section class="page-section bg-primary" id="about">
    <div class="container-fluid">
      <div class="text-center">
          <h2 class="text-black mt-0">Colette et Remy</h2>
      </div>        
      <hr class="divider my-4">
        <div class="d-flex flex-wrap">
          <div class="remy col-md-6">
            <div class="text-center">
              <img class="img-fluid img-about" src="{% static 'img/remy.jpg' %}" alt="Remy">
            </div>
            <div class="text-center">
              <h4>Remy:</h4>
            </div>
            <div>
              <p class="text-justify description">
                "Pour ma part je me rendais déjà dans bien des magasins car 
                j'aime beaucoup me balader, surtout dans les caves et les cuisines. 
                Je connaissais par coeur le contenu des boutiques bio (dont je raffole) 
                ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette 
                m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment 
                plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre 
                était née !"
              </p>
            </div>
          </div>
          <div class="colette col-md-6">
            <div class="text-center">
              <img class="img-fluid img-about" src="{% static 'img/colette.png' %}" alt="Colette">
            </div>
            <div class="text-center">
              <h4>Colette Tatou:</h4>
            </div>
            <div>
              <p class="text-justify description">
                "Nous aimons tous manger, surtout en France ! Personnellement, 
                une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me 
                suffisent amplement. Comme tout le monde, je fais mes courses au 
                supermarché. Mais petit à petit je me suis rendue compte, surtout 
                lorsque nous avons ouvert le restaurant, que je pouvais remplacer 
                les produits aseptisés que j'avais l'habitude d'acheter par de bons 
                produits du terroir Et souvent pour le même prix !"
                </p>
            </div>
          </div>
        </div>
  
    </div> <!-- container -->
  </section>
{% endblock %}
  