{% extends 'base.html' %}

{% block content %}
<header class="results">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
          <h1>Mentions légales</h1>   
      </div>
    </div>
  </div>
</header>

<section class="page-section"></section>
  <div class="container-fluid col-9 col-md-7 mx-auto legals" >
    <h2>Présentation</h2>
    <p class="text-justify">
    En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site https://www.purbeurre.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
    </p>
    <ul>
      <li>
        Propriétaire : Pur Beurre
      </li>
      <li>
         Webmaster : Cédric Migazzi
      </li>
      <li>
          Hébergeur : Heroku
      </li>
    </ul>
    <h2>Resssources</h2>
    <ul>
      <li>
        Charte graphique: <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9" target="_blank">Pur Beurre</a> 
      </li>
      <li>
        Thème: <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Start Bootstrap</a>
      </li>
      <li>
        Photo: <a href="https://unsplash.com/photos/k60JspcBwKE">Kawin Harasai</a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}