{% block contact %}
<section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Contactez-nous</h2>
          <hr class="divider my-4">
          <p class="mb-5">Une question, une suggestion ?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto mb-4 text-center">
          <i class="fas fa-phone fa-3x mb-3"></i>
          <div>00 00 00 00 00 00</div>
        </div>
        <div class="col-md-4 mr-auto mb-4 text-center">
          <i class="fas fa-envelope fa-3x mb-3"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block mailto-legals" href="mailto:mail@mail.com">mail@mail.com</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
