{% block search %}
<header class="masthead">
    <div class="container h-100 col-sm-12 ">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-white font-weight-bold">Du gras oui, mais de qualité !</h1>
          <hr class="divider divider-light">
          <h2 class="text-white">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
        </div>        
        <form class="form-inline col-sm-12 col-md-8 border-0 justify-content-center" action="{% url 'search' %}">
            {% csrf_token %}
            {{ search_form.product }}
            <input type="submit" class="btn btn-primary col-auto" value="Chercher">
        </form>
      </div> <!-- row -->
    </div> <!-- container -->
</header>
{% endblock %}